$nav-backgroundColor: azure;

#nav-box{
    width: 100%;
    padding: 2em 0;
    background-color: $nav-backgroundColor;
    border-bottom: solid black 2px;
    #nav-content{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        gap:5%;
        li{
            a{
                font-size: 1.5em;
                text-decoration: none;
                color: black;
                padding-bottom: 0.2em;
            }
        } 
    }
}
