#home-container {
  width: 100%;
  height: 92.8vh;
  background-color: cornsilk;
}
#home-container #home-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3em;
}
#home-container #home-content h1 {
  font-size: 3.4em;
  width: 80%;
}
#home-container #home-content button {
  font-size: 2em;
  padding: 0.3em 3em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: azure;
  color: black;
}

#nav-box {
  width: 100%;
  padding: 2em 0;
  background-color: azure;
  border-bottom: solid black 2px;
}
#nav-box #nav-content {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5%;
}
#nav-box #nav-content li a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  padding-bottom: 0.2em;
}

#create-post-container {
  width: 100%;
  height: 92.8vh;
  background-color: cornsilk;
}
#create-post-container #create-post-content {
  background-color: azure;
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#create-post-container #create-post-content #create-form {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
#create-post-container #create-post-content #create-form button {
  align-self: center;
  font-size: 2em;
  padding: 0.3em 5em;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: white;
}
#create-post-container #create-post-content #create-form .create-form-el {
  display: flex;
  gap: 1em;
  font-size: 2em;
  flex-direction: row;
  align-items: center;
}
#create-post-container #create-post-content #create-form .create-form-el input {
  font-size: 1.1em;
  padding: 0.1em 0.2em;
}

#posts-container {
  padding: 4em;
  width: 100%;
  background-color: cornsilk;
}
#posts-container #posts-content {
  width: 100%;
  gap: 5%;
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
  row-gap: 4em;
}
#posts-container #posts-content .post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#posts-container #posts-content .post-box img {
  border: 3px solid black;
  padding: 5px;
  max-width: 20em;
  max-height: 15em;
  cursor: pointer;
}

#detailed-post-container {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 10em;
}
#detailed-post-container a button {
  font-size: 2em;
  padding: 0.2em 1.3em;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: azure;
}
#detailed-post-container #detailed-post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}
#detailed-post-container #detailed-post-content #detailed-post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#detailed-post-container #detailed-post-content #detailed-post-info img {
  max-width: 25em;
  max-height: 100%;
}
#detailed-post-container #detailed-post-content #detailed-post-comments {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #comments-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #comments-container .comment-box {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  width: 40em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #comments-container .comment-box .comment-box-text {
  max-width: 40em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #comments-container .comment-box .comment-box-text h2 {
  font-size: 1.5em;
  text-wrap: wrap;
  white-space: normal;
  max-width: 100%;
  word-wrap: break-word;
  font-weight: lighter;
  padding-bottom: 1em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #add-comment-form button {
  margin-left: 12.5%;
  font-size: 1.5em;
  padding: 0.4em 4em;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: azure;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #add-comment-form .comment-add-headers1 {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #add-comment-form .comment-add-headers1 input {
  font-size: 1.3em;
  padding: 0.2em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #add-comment-form .comment-add-headers2 {
  display: flex;
  align-items: start;
  gap: 0.7em;
}
#detailed-post-container #detailed-post-content #detailed-post-comments #add-comment-form .comment-add-headers2 textarea {
  resize: none;
  width: 100%;
  padding: 0.2em;
  font-size: 1.3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  background-color: cornsilk;
}

header {
  width: 100%;
}

body {
  background-color: cornsilk;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=output.css.map */
